{% extends 'base.html' %}

{% block title %}cambio_obligatorio{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cambio_obligatorio.css') }}">

{% endblock %}


{% block body %}

    <div class="logo">
        <img src="static/img/logo_icon.png" alt="Logo">
    </div>

     <div class="container">
        <h2>Cambiar Contraseña</h2>
        <p>Es obligatorio cambiar tu contraseña antes de continuar.</p>

        <form id="cambiarPassForm" action="procesar_cambio.php" method="POST">
            <div class="input-container">
                <input type="password" name="new_password" id="new_password" placeholder="Nueva contraseña" required>
                <span class="toggle-password" onclick="togglePassword('new_password')">VER</span>
            </div>
            <div class="input-container">
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar contraseña" required>
                <span class="toggle-password" onclick="togglePassword('confirm_password')">VER</span>
            </div>

            <div id="error" class="error"></div>
            <button type="submit">Actualizar contraseña</button>
        </form>
    </div>

    <div class="planta">
        <img src="static/img/plantaa.png" alt="planta">
    </div>

<script>
    const form = document.getElementById('cambiarPassForm');
    const errorDiv = document.getElementById('error');

    form.addEventListener('submit', function(e){
        const newPass = document.getElementById('new_password').value;
        const confirmPass = document.getElementById('confirm_password').value;

        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

        if(newPass !== confirmPass){
            e.preventDefault();
            errorDiv.textContent = "Las contraseñas no coinciden";
        } else if(!passwordRegex.test(newPass)){
            e.preventDefault();
            errorDiv.textContent = "La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un símbolo";
        } else {
            errorDiv.textContent = "";
        }
    });

    function togglePassword(id){
        const input = document.getElementById(id);
        if(input.type === "password"){
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
</script>
{% endblock %}